<% if (locals.errors) {%>
  <ul class = 'errors-list'>
    <% errors.forEach(function(error) { %>
      <% if (error.msg) {%>
      <li><%= error.msg %></li>
      <% } %>
    <% }); %>
  </ul>
<% } %>