<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
      <%- include('partials/nav')%>
    <div class="admin-container">
        <h3>Role:
            <span>
                <%if(locals.user.is_admin){%>
                    Admin
                <% }else {%>
                    User
                <% } %>
            </span>
        </h3>
        <%if(!locals.user.is_admin){%>
            <h2>Become an admin: </h2>
        <form action="/make-admin" method = 'POST'>
            <div class = 'check-container'>
                <label for="admin">Do you pinky promise to be a good admin?</label>
                <input type="checkbox" id="admin" name="admin" value="true">
            </div>
            <button type = 'submit'>Submit</button>
        </form>
        <% } else{ %>
            <form action="/delete-admin" method = 'POST'>
            <button type = 'submit'>Remove admin</button>
            </form> <% } %>
    </div>


 
    
</body>
</html>