<!DOCTYPE html>
<html>
  <%- include('partials/header')%>
  <body>
    <% if(locals.user){%>
      <h1>Welcome, <%= user.username %></h1>
       <a href="/logout">Log Out</a>
       <a href="/membership">Manage Membership</a>
    <% } else {%>
      <a href = "/login">Login</a>
      <a href="/sign-up">Create an account</a>
    <%}%>
  </body>
</html>
