<!DOCTYPE html>
<html>
  <%- include('partials/header')%>
  <body>
    <%- include('partials/nav')%>
    <% if(locals.user){%>
      <h1>Welcome back, <%=  locals.user.first_name%> <%=  locals.user.last_name%></h1>
    <% } else {%>
      
    
    <%}%>
  </body>
</html>
