<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
      <%- include('partials/nav')%>
    <%- include('partials/form_errors')%>
    <form novalidate action="/sign-up" method = "post" class = 'form'>
        <label for="firstname">First Name:</label>
        <input type="text" id = "firstname" name = "first_name">
        <label for="lastname">Last Name:</label>
        <input type="text" id = "lastname" name = "last_name">
        <label for="username">Username:</label>
        <input type="text" id = "username" name = "username">
        <label for="password">Password:</label>
        <input type="password" id = "password" name = "password">
        <label for="password_confirm">Confirm Password:</label>
        <input type="password" id = "password_confirm" name = "password_confirm">
        <button type = 'submit'>Submit</button>
    </form>
    
</body>
</html>