*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h2{
  margin: 0
}
:root{
  --button-color: rgb(162, 249, 255);

}
body{
  background: rgb(0, 0, 0);
  color: white;
}

button{
  background: var(--button-color);
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
}

button:hover{
  background: blue;
}

input{
    margin-bottom: 10px;
    display: block;
}


li{
    list-style: none;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
/*
.dropdown {
  float: left;
  overflow: hidden;
}*/
.navbar{
    background: rgb(56, 56, 56);
    display: flex;
    justify-content: right;
    align-items: stretch;
    padding: 0px 100px;
}
.navbar ul {
    margin: 0;
    display: flex;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background: blue
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/*messages */

.post-message textarea{
  width: 80vw;
  border-radius: 15px;
  height: 100px;
  margin: auto;
  display: block;
  padding: 7px;
  font-size: 1.2rem;
}
.post-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.post-message button{
  margin: auto;
  width: 100px;
}
p{
  margin: 5px 0
}
.message{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.message button{
  background: rgb(255, 92, 92);
}
.message button:hover{
  background: rgb(196, 62, 62);
}
.message-container .message{
  padding: 20px;
  border: 5px solid white;
  font-size:1.3rem;
  border-radius: 15px;
  width: 80%;
  margin: 20px auto;
}
h1{
  text-align: center;
}
/*
membership/admin
*/
.membership-container, .admin-container{
  width: min(50vw, 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 20px;
}

.membership-container h3, .admin-container h3{
  font-size: 1.5rem;
}
form{
  font-size: 1.2rem;
}
form input{
  margin-top: 5px;
  
}
.membership-container form, .admin-container form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership-container form input{
  width: min(80%, 300px);
  height: 30px;
  border-radius: 10px;
}
.check-container{
  display: flex;
}
/* login and sign up*/
.form{

    width: 300px;
    border: 3px solid white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
     
    
}
.form input{
  height: 20px;
  padding: 5px;
  width: 80%;
  border-radius: 7px;
}

/* 404 */
.err-msg{
  font-size: 1.7rem;
  margin-top: 10px;
  text-align: center;
}
/* validation errors */
.errors-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errors-list li{
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.5);
color: rgb(241, 0, 0);
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: min(500px, 80vw);
  margin-bottom: 10px;
}